.App {
  margin: 0;
}

.topImage {
  img {
    width: 100%;
    height: 100vh;
    object-fit: contain;
  }
  .startButton {
    width: 40%;
    Link {
      text-decoration: none;
    }
  }
}

.quizIndex {
  text-align: center;
  margin-top: 100px;
}

.resultIndex {
  text-align: center;
}
